//color
$primerColor: #5d1dc4;
$primerColorHV: #5d1dc4a8;
$whiteColor: white;
$whiteSmColor: #e1e1e1d6;
$blackColor: #222;
$greyColor: grey;
$redColor: #eb424a;
$redColorHV: #eb424b9d;
$orangeColor: #f4c442;
$orangeColorHV: #f4c542c2;
